@model ResortDTN.Room

@{
    ViewBag.Title = "Details";
}
<p></p><p></p><p></p><p></p><p></p>
<h2>Details</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>

        <dt> 
            @Html.DisplayNameFor(model => model.RoomPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingStatu.BookingStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingStatu.BookingStatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomType.RoomTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomType.RoomTypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoomID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
